<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>'Emergency Resource Inventory Application'</title>
</head>
<body>
    <div align="center">
    <h1>Emergency Resource Inventory Application Login</h1>
    <hr><br>
    <form action = "/ERIApp" method = "post" enctype="multipart/form-data">
        Username: <br>
        <input type ="text" name="username" required><br><br>
        Password: <br>
        <input type=text" name="password" required><br><br>
        <input type = "submit" value="submit">
    </form>
</div>
</body>
</html>